.modal-redeem {
    padding: 50px;
    border: none;
    border-radius: 10px;

    .container-points {
        margin-bottom: 25px;
    }

    .custom-btn {
        background-color: $secondaryColor;
        color: $whiteColor;
    }

    .modal-cost {
        font-size: 45px;
        color: $primaryDarkColor;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 0;
    }

    h3 {
        font-weight: 600;
        font-size: 40px;
    }

    .modal-unity {
        font-size: 25px;
        color: $primaryDarkColor;
        transform: translateY(5px);
    }

    .coin-icon {
        width: 45px;
        height: 45px;
        transform: translateY(3px);
        margin: 0 10px;
    }

    .btn-close-redeem {
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px;
        cursor: pointer;
    }
}