.navbar {
    background-color: $whiteColor;
}

.navbar__container-less {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;

    .nabvar__brand-logo {
        width: 35px;
        padding: 15px 0;
    }

}

.nav-link {
    position: absolute;
    right: 30px;
}

.navbar__user-points-container .store__user-points-container {
    background-color: $disableBackground !important;
    margin: 5px 0 !important;
    padding-left: 15px !important;
    padding-right: 10px !important;
    cursor: pointer;

    h2 {
        font-size: 24px;
        margin-bottom: 0;
        margin-right: 5px;
        color: $primaryDarkColor;
    }

   .coin-icon {
       width: 33px;
       height: 33px;
       margin: 3px 0;
       transform: translateY(2px);
   }

   .custom-btn {
       border: none !important;
   }

   .custom-fab-btn {
        width: 40px;
        height: 40px;
        line-height: 40px;

        i {
            transform: translateX(-5px);
        }
   }
}