.skeleton {
    background-color: #ddd;
    margin: 10px 0;
    border-radius: 4px;

    &.text {
        width: 80%;
        height: 25px;
        background-color: $disableBackground;
    }

    &.title {
        width: 100px;
        height: 25px;
        margin-bottom: 15px;
        background-color: $disableBackground;
    }

    &.avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    &.thumbnail {
        width: 100%;
        height: 20vh;
        background-color: $disableBackground;
    }
}

.skeleton-name {
    background-color: $disableBackground;
    height: 20px;
    width: 100px;
    margin-right: 20px;
    overflow: hidden;
}

.skeleton-points {
    background-color: $primaryLightColor;
    height: 22px;
    width: 50px;
    margin-right: 5px;
    overflow: hidden;

}

.skeleton-row {
    margin-bottom: 15px;

    .skeleton-product {
        width: 100%;
        height: 38vh;
        padding: 20px;
        background-color: $primaryLightColor;
        overflow: hidden;
        position: relative;
    }
}

.skeleton-wrapper {
    position: relative;
    
    .shimmer-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 38vh;
        
        .shimmer  {
            width: 50%;
            height: 38vh;
            background: rgba($color: $primaryColor, $alpha: .1);
            animation: loading .5s infinite;
        }

        @keyframes loading {
            0% { transform: translateX(-100%); opacity: 0; transition: .2s ease-in-out; }
            10% { transform: translateX(-80%); opacity: .2; transition: .2s ease-in-out;}
            20% { transform: translateX(-60%); opacity: .4; transition: .2s ease-in-out;}
            30% { transform: translateX(-40%); opacity: .6; transition: .2s ease-in-out;}
            40% { transform: translateX(-20%); opacity: .8; transition: .2s ease-in-out;}
            50% { transform: translateX(0); opacity: 1; transition: .2s ease-in-out;}
            60% { transform: translateX(20%); opacity: .8; transition: .2s ease-in-out;}
            70% { transform: translateX(40%); opacity: .6; transition: .2s ease-in-out;}
            80% { transform: translateX(60%); opacity: .4; transition: .2s ease-in-out;}
            90% { transform: translateX(80%); opacity: .2; transition: .2s ease-in-out;}
            100% { transform: translateX(100%); opacity: 0; transition: .2s ease-in-out;}
        }
    }
}



