.store-screen {
    padding-bottom: 40px;
}

.store__product-redeem-content {
    background-color: red;
    position: absolute;
    padding: 7.8px;
    z-index: 9;

    .store__product-buy-icon {
        width: 54px;
        height: 54px;
        position: absolute;
        z-index: 1;
        display: flex; 
        justify-content: flex-end;
        margin-right: auto;
    }
}

.store__product-card {
    padding: 10px;
    margin-bottom: 25px;
    border-radius: none;
    border: none;
    background-color: $whiteColor;
    overflow: hidden;
    display: flex;

    p {
        margin: 0;
    }

    .store__product-buy-icon {
        width: 45px;
        height: 45px;
        position: absolute;
        z-index: 1;
        display: flex; 
        justify-content: flex-end;
        margin-right: auto;
    }

    .store__product-card-data {
        padding: 20px;

        .store__product-card-img {
            border-bottom: 1px solid $primaryLightColor;
            margin-bottom: 20px;
        }
        
        .store__product-card-category {
            font-size: 16px;
            color: $primaryColor;
        }
        
        .store__product-card-title {
            font-size: 18px;
            color: $primaryDarkColor;
        }

    }

}

.store__user-points-container {

   h2 {
    font-size: 24px;
    color: $primaryDarkColor;
    margin-bottom: 0;
    margin-right: 20px;
   }

   .coin-icon {
       height: 35px;
       transform: translateY(2px);
       margin-left: 8px;
   }
}

.store__pagination-container {
    height: 100px;

    p {
        margin: 0 !important;
    }
}

.store__counter-pager,
.store__filter-container {
    font-size: 24px;
}

.store__counter-pager {
    color: $primaryDarkColor;
    padding-right: 25px;
}

.pagination-bar {
    margin-top: 50px;

    hr {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .pagination-nav {
        display: flex; 
        justify-content: space-between;
        margin-left: auto;
    }
}

.store__filter-container {
    color: $primaryColor;
    border-left: 1px solid $primaryLightColor;

    p {
        padding: 0 25px;
    }

    button {
        margin-right: 25px;
    }
}


