.empty-container {
    overflow: hidden !important;
    img {
        height: 65vh;
        width: auto;
        margin-top: 30px;
    }

    h4 {
        font-size: 60px;
        font-weight: 600;
        color: $primaryColor;
        margin-top: 20%;
    }

    h3 {
        font-size: 60px;
        margin-top: 20px;
        color: $secondaryColor;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: $mobMax) {
    .empty-container {

        img {
            width: 50vh;
            height: auto !important;
            margin-top: 0;
        }
    
        h4 {
            font-size: 30px;
            font-weight: 600;
            color: $primaryColor;
            margin-top: 20px;
        }
    
        h3 {
            font-size: 40px;
            margin-top: 20px;
            color: $secondaryColor;
    
            &:hover {
                text-decoration: none;
            }
        }

    }
    
}