// main styles scss
@import './base/settings';
@import './base/base';

// components
@import './components/store';
@import './components/navbar';
@import './components/sidenav';
@import './components/skeleton';
@import './components/modal-redeem';
@import './components/modalDetail';
@import './components/productItem';
@import './components/historyItem';
@import './components/emptyContent';

html, body {
  width: 100vw;
  height: 100vh;
  background-color: $backgroundBodyColor;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

main {
  width: 100%;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  height: 60vh !important;
  margin-top: 80px;
  margin-bottom: 50px;
  background: url('../assets/header-x1.png') no-repeat 50% 50%;
  background-size: cover;
  background-position: top;
  position: relative;

  h1 {
    font-size: 64px;
    font-weight: 700 !important;
    color: $whiteColor;
    position: absolute;
    bottom: 70px;
  }
}

/* mobile */
@media only screen and (max-width: $mobMax) {
  
  header {
    width: 100%;
    height: 20vh !important;
    background-size: cover;
    background-position: bottom;
    position: relative;
  }

  h1 {
    font-size: 40px !important;
    bottom: 40px !important;
  }
} 
 


