// main styles scss
@import './base/settings';
@import './base/base';

// components
@import './components/store';
@import './components/navbar';

html, body {
  width: 100vw;
  height: 100vh;
  background-color: $backgroundBodyColor;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100vw;
  height: 60vh !important;
  margin-top: 80px;
  background: url('../assets/header-x1.png') no-repeat 50% 50%;
  background-size: cover;
  background-position: top;

  h1 {
    font-size: 64px;
    font-weight: 700 !important;
    color: $whiteColor;
    transform: translateY(250px);
  }

}
