// configuracion de estilos globales de mi app

// Main Color Pallette

$backgroundBodyColor: #F9F9F9; // backgroundBodyColor + navBarColor
$translucentPrimaryColor: #c4c2c2eb;
$borderSoft: #b9b7b7; // secondaryTextColor
$primaryColor: #A3A3A3; // secondaryTextColor
$primaryLightColor: #D9D9D9; // separatorColor
$primaryDarkColor: #616161; // primaryTextColor
$translucentDark: #616161b8; 
$translucentLight: #8f8c8c56;
$disableBackground: #EDEDED; // disableColor
$btnActiveBackground: #dddcdc; // disableColor
$secondaryColor: #0AD4FA; // activeHoverColor
$secondaryDarkColor: #05bce0;
$translucentSecondaryColor: #0ad2faef; // activeHoverColor
$coinColor: #ffc400; // coinBackgroundColor
$coinDegrade: #8d6d28;
$whiteColor: #FFFFFF; // cardBackgroundColor
$blackColor: #000000;

// cardDegradé - from #D9D9D9 (gray) to #0AD4FA (blue)

// media queries

/* desk pc escritorio de 20 */
$deskXlMin: 1500px;
/* desk notebook*/
$noteXlMin: 1200px; $noteXlMax: 1499px;
/* desk notebooks más chicas (marhis) */
$noteSmMin: 993px; $noteSmMax: 1199px;
/* tablet o iPad */
$tabletMin: 601px; $tabletMax: 992px;
/* mobile */
$mobMax: 600px;
/* mobile iPhone 6 + iPhoneX */
$iphoneXMin: 375px; $iphoneXMax: 410px;
/* mobile MotoG4 + Galaxy S5 */
$galaxy5Min: 360px; $galaxy5Max: 374px;  
/* galaxy fold + iPhone 5*/
$galaxyMin: 280px; $galaxyMax: 359px; 
